/* roboto-condensed-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-condensed-v25-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-condensed-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-condensed-v25-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-condensed-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-condensed-v25-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-family: "Bebas Neue";
  src: local("Bebas Neue Bold"), local("BebasNeueBold"),
    url("../fonts/bebasneuebold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

:root {
  --app-height: 100%;
}

@mixin h2 {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 11.458vw;
  line-height: 11.458vw;
  text-align: center;
  color: #ffffff;
}
@mixin h3 {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 6.25vw;
  line-height: 6.25vw;
  color: #ffffff;
}
@mixin h4 {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 4.063vw;
  line-height: 4.063vw;
  color: #ffffff;
}
@mixin text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 1.25vw;
  line-height: 1.771vw;
  color: #ffffff;
}
@mixin text-mini {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 1.458vw;
  line-height: 1.458vw;
  color: #ea5f1b;
  display: block;
  padding: 0.313vw 0 0.104vw 0;
  border-top: 0.104vw solid #ea5f1b;
  border-bottom: 0.104vw solid #ea5f1b;
  width: min-content;
}
@mixin social {
  width: 1.771vw;
  height: 1.771vw;
  background: #ffffff;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin button {
  width: auto;
  height: auto;
  max-height: 1.771vw;
  padding: 0.417vw 0.99vw;
  background: #ffffff;
  border-radius: 0.208vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 0.781vw;
  line-height: 0.938vw;
  text-transform: uppercase;
  color: #141313;
  transition: 0.25s ease-out background, 0.25s ease-out color;
  border: none;
  overflow: hidden;
  span {
    transition: 0.25s ease-out transform;
    &:last-child {
      transform: translateY(100%);
    }
    &:first-child {
      transform: translateY(50%);
    }
  }
  &:hover {
    background: #ea5f1b;
    color: #ffffff;
    span {
      &:last-child {
        transform: translateY(-50%);
      }
      transform: translateY(-100%);
    }
  }
}

body {
  background: #141313;
  overflow: overlay;
  &::-webkit-scrollbar {
    width: 0.26vw;
  }
  &::-webkit-scrollbar-track {
    background-color: #ffffff1c;
    opacity: 0;
  }
  &::-webkit-scrollbar-thumb {
    box-shadow: inset 0.26vw 0.26vw 0.26vw 0.26vw#EA5F1B;
    border-radius: 0.104vw;
  }
}
.preloader {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  height: var(--app-height);
  z-index: 100;
  transition: 0.5s ease-out opacity;
  opacity: 1;
  .rpeloader-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .logo {
    position: absolute;
    top: 2.344vw;
    left: 3.125vw;
    width: 4.479vw;
    height: auto;
  }
  .number-container {
    position: absolute;
    bottom: 2.083vw;
    left: 3.125vw;
    display: flex;
    align-items: flex-end;
    gap: 1.042vw;
    .number {
      font-size: 6.25vw;
      font-family: Bebas Neue;
      font-weight: 700;
      line-height: normal;
      color: #ffffff;
    }
    .loading {
      padding: 0 0 9.5% 0;
      font-size: 1.25vw;
      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      line-height: 1.771vw;
      color: #ffffff;
    }
  }
  &.none {
    opacity: 0;
  }
}
._container {
  width: 93.75vw;
  margin: 0 auto;
}

.wrapper {
  position: relative;
  width: 100%;
  height: auto;
}
.burger-menu {
  display: none;
}
.close {
  display: none;
}
.blur {
  display: none;
}
.header-logo {
  position: fixed;
  top: 1.979vw;
  left: 3.125vw;
  z-index: 25;
  a {
    text-decoration: none;
    outline: 0;
    .logo {
      width: 4.479vw;
      height: auto;
    }
  }
}
.header {
  padding: 1.979vw 0 0 0;
  z-index: 20;
  position: fixed;
  top: 0;
  right: 3.125vw;
  .header_container {
    width: max-content;

    .navigation-container {
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;
      gap: 2.604vw;
      .connect-wallet {
        cursor: pointer;
        @include button();
      }
      .navigation {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 0.781vw;
        line-height: 0.938vw;
        text-transform: uppercase;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        gap: 1.302vw;
        padding: 0 0 0 0.938vw;
        li {
          .navigation-item {
            text-decoration: none;
            outline: 0;
            display: flex;
            align-items: center;
            position: relative;
            transition: 0.25s ease-out color;
            color: #ffffff;

            &:hover {
              color: #ea5f1b;
            }
            &.active {
              color: #ea5f1b;
              &::after {
                content: "";
                position: absolute;
                right: 0;
                width: 0.99vw;
                height: 0.104vw;
                background: #ea5f1b;
              }
            }
          }
        }
      }
    }
  }
}
.main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  height: var(--app-height);
  transition: 0.25s ease-out height;
  z-index: 1;
  transition: 0.25s ease-out opacity;
  .main-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    height: var(--app-height);
    transition: 0.25s ease-out height;
    object-fit: cover;
    z-index: 0;
  }
  .main_container {
    padding: 1.979vw 0 0 0;

    .main-wrapper {
      width: 93.75vw;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      .social {
        margin: 2.083vw 0 0 0;
        display: flex;
        flex-direction: column;
        gap: 0.625vw;
        a {
          text-decoration: none;
          outline: 0;
          transition: 0.25s ease-out background;
          svg {
            width: 0.938vw;
            height: auto;
            path {
              transition: 0.25s ease-out fill;
            }
          }
          &:hover {
            background: #ea5f1b;
            svg {
              path {
                fill: #ffffff;
              }
            }
          }
          @include social();
        }
      }
      .main-title {
        margin: 2.604vw 0 0 0;
        font-family: "Bebas Neue";
        font-style: normal;
        font-weight: 700;
        font-size: 14.583vw;
        line-height: 14.583vw;
        text-transform: uppercase;
        color: #ffffff;
      }
      .title-line {
        margin: 0 0 0 19.531vw;
        transform: translateY(-200%);
        width: 36.25vw;
        height: auto;
      }
      .main-subtitle {
        width: 46.615vw;
        position: relative;
        margin: 1.042vw 0 0 auto;
        p {
          &:first-child {
            text-align: end;
            color: #ea5f1b;
          }
          @include text();
        }
        &::before {
          content: "";
          display: block;
          clip-path: polygon(0 0, 0 100%, 100% 0);
          width: 0.938vw;
          height: 0.938vw;
          background: #ea5f1b;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }
  }
  &.opacity {
    opacity: 0;
  }
}
.manifesto {
  margin: 100vh 0 0 0;
  margin: var(--app-height) 0 0 0;
  transition: 0.25s ease-out margin;
  position: relative;
  width: 100%;
  height: 1150vh;
  overflow-y: visible;
  z-index: 4;

  .bg-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1150vh;
    z-index: 3;
    .bg-container2 {
      position: sticky;
      width: 100%;
      height: 100vh;
      height: var(--app-height);
      top: 0;
      left: 0;
      transition: 0.25s ease-out height;
      .manifesto-bg {
        width: 100%;
        object-fit: cover;
        object-position: bottom;
        transition: 0.25s ease-out filter, 0.25s ease-out opacity;
        &.blend {
          opacity: 0.3;
        }
        &.opacity {
          opacity: 0;
        }
      }
    }
  }
  .manifesto-title {
    padding: 125vh 0 0 0;
    position: relative;
    height: 100vh;
    height: var(--app-height);
    transition: 0.25s ease-out height;
    z-index: 3;
    @include h2();
  }
  .manifesto-text {
    position: relative;
    height: 100vh;
    height: var(--app-height);
    transition: 0.25s ease-out height;
    z-index: 6;
    h3 {
      @include h3();
    }
    span {
      @include text-mini();
    }
    p {
      margin: 1.563vw 0 0 15.781vw;
      @include text();
    }
  }

  .text1 {
    padding: 0 0 0 3.125vw;
    p {
      width: 62.188vw;
    }
  }
  .text2 {
    padding: 0 0 0 34.74vw;
    p {
      width: 30.521vw;
    }
  }
  .text3 {
    padding: 0 0 0 18.906vw;
    p {
      width: 46.354vw;
    }
  }
}
.roadmap {
  margin: 0;
  position: relative;
  z-index: 5;
  display: flex;
  gap: 3.646vw;
  padding: 0 0 0 3.125vw;
  .sparks-container {
    position: fixed;
    left: -1.094vw;
    bottom: 0;
    background: #141313;
    opacity: 0;
    z-index: -1;
    .sparks {
      width: 62.5vw;
      height: auto;
      opacity: 0.3;
      mix-blend-mode: lighten;
    }
  }
  .left-block {
    padding: 4.688vw 0 0 0;
    position: sticky;
    top: 0;
    height: calc(100vh - 9.375vw);
    height: calc(var(--app-height) - 9.375vw);
    transition: 0.25s ease-out height;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 3.125vw;
    .roadmap-title {
      margin: 0 0 auto 0;
      @include h2();
    }
    .social {
      display: flex;
      flex-direction: column;
      gap: 0.625vw;
      a {
        text-decoration: none;
        outline: 0;
        transition: 0.25s ease-out background;
        svg {
          width: 0.938vw;
          height: auto;
          path {
            transition: 0.25s ease-out fill;
          }
        }
        &:hover {
          background: #ea5f1b;
          svg {
            path {
              fill: #ffffff;
            }
          }
        }
        @include social();
      }
    }
    .footer-text {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .reserved {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 300;
        font-size: 0.938vw;
        line-height: 1.458vw;
        color: #ffffff;
      }
      .powered {
        display: flex;
        gap: 0.313vw;
        font-family: "Roboto";
        font-size: 0.833vw;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        color: #ffffff;
        a {
          transform: translateY(10%);
          text-decoration: none;
          svg {
            width: 5.625vw;
            height: auto;
            path {
              transition: 0.25s ease-out fill;
            }
          }
          &:hover {
            svg {
              path {
                fill: #ea5f1b;
              }
            }
          }
        }
      }
    }
  }
  .roadmap_item-container {
    display: flex;
    flex-direction: column;
    gap: 2.083vw;
    padding: 6.25vw 0 5.729vw 0;

    .roadmap_item {
      box-sizing: border-box;
      width: 40.625vw;
      height: 23.75vw;
      display: flex;
      flex-direction: column;
      padding: 1.563vw;
      overflow: hidden;
      position: relative;
      cursor: pointer;
      &:first-child {
        cursor: auto;
        .circle {
          display: none;
        }
        .date {
          margin: auto 0 0 0;
        }
      }
      &:hover {
        .item-bg {
          transform: scale(1.2);
        }
        .circle {
          background: #ea5f1b;
          svg {
            path {
              stroke: #ffffff;
            }
          }
        }
      }
      &::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        position: absolute;
        left: 0;
        top: 0;
      }
      .item-bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        transition: 0.25s ease-out transform;
      }
      .circle {
        margin: auto 0 0 0;
        height: 3.385vw;
        width: 3.385vw;
        border-radius: 100%;
        text-decoration: none;
        background: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.25s ease-out background;
        svg {
          width: 1.198vw;
          height: auto;
          path {
            transition: 0.25s ease-out stroke;
          }
        }
        &:hover {
          background: #ea5f1b;
          svg {
            path {
              stroke: #ffffff;
            }
          }
        }
      }
      .status {
        position: relative;
        padding: 0 0.469vw;
        width: min-content;
        margin: 0 0 0 auto;
        min-width: 3.49vw;
        img {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        span {
          position: relative;
          font-family: "Roboto";
          font-style: normal;
          font-weight: 700;
          font-size: 0.938vw;
          line-height: 1.458vw;
          color: #ffffff;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          svg {
            width: 1.25vw;
            height: auto;
          }
        }
      }
      .date {
        margin: 2.083vw 0 0 0;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 0.938vw;
        line-height: 1.458vw;
        color: #ffffff;
        padding: 0 0.521vw;
        border: 1px solid #ffffff;
        border-radius: 5.208vw;
        width: max-content;
      }
      .item-title {
        margin: 0.781vw 0 0 0;
        @include h4();
      }

      &.blocked {
        cursor: auto;
        &::before {
          background-image: url("../img/roadmap/mask4.png");
        }
        .status {
          img {
            filter: brightness(0) saturate(100%) invert(100%) sepia(0%)
              saturate(0%) hue-rotate(245deg) brightness(108%) contrast(104%);
          }
        }
        .circle {
          display: none;
        }
        .date {
          margin: auto 0 0 0;
        }
      }
      &.item1 {
        &::before {
          background-image: url("../img/roadmap/mask1.png");
        }
      }
      &.item2 {
        &::before {
          background-image: url("../img/roadmap/mask2.png");
        }
      }
      &.item3 {
        &::before {
          background-image: url("../img/roadmap/mask3.png");
        }
      }
    }
  }
}

// mint
@mixin mint-title {
  font-family: "Bebas Neue";
  font-size: 120px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #ffffff;
}
@mixin mint-subtitle {
  font-family: "Bebas Neue";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #ffffff;
}
@mixin text-oval {
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  color: #ffffff;
  width: max-content;
  border-radius: 100px;
  border: 1px solid #fff;
}

@keyframes rotate-button {
  0% {
    transform: rotate(0);
  }
  20% {
    transform: rotate(90deg);
  }
  40% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.mint {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100vh;
  height: var(--app-height);
  .preview-mint {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    transition: 2.5s ease-in transform;
    .preview-container {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: end;
      justify-content: center;
      .people {
        position: absolute;
        width: 687px;
        height: auto;
        z-index: 4;
        bottom: 0;
        transition: 2.5s ease-in-out transform;
        filter: blur(4px);
        &:nth-child(1) {
          right: auto;
          left: -264px;
        }
        &:nth-child(2) {
          right: auto;
          left: 123px;
        }
        &:nth-child(3) {
          left: auto;
          right: 164px;
        }
        &:nth-child(4) {
          left: auto;
          right: -223px;
        }
      }
      .preview-bg {
        width: 100%;
        height: auto;
      }
      .initiate {
        border-radius: 100%;
        border: none;
        background: none;
        padding: 0;
        position: absolute;
        left: 50%;
        bottom: 164px;
        transform: translateX(-50%);
        z-index: 4;
        width: 576px;
        height: 576px;
        .initiate-container {
          position: relative;
          width: 100%;
          height: 100%;
          img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: auto;
            transition: 0.25s ease-out opacity;
          }
          &.active {
            animation: 2.5s rotate-button linear;
            img {
              &:last-child {
                opacity: 0;
              }
            }
          }
        }
        &:hover {
          .initiate-container {
            img {
              &:last-child {
                opacity: 0;
              }
            }
          }
        }
      }
    }
    &.no-active {
      transform: translateY(100%);
      .preview-container {
        .people {
          &:nth-child(1) {
            transform: translateY(40%);
          }
          &:nth-child(2) {
            transform: translateY(100%);
          }
          &:nth-child(3) {
            transform: translateY(100%);
          }
          &:nth-child(4) {
            transform: translateY(40%);
          }
        }
      }
    }
  }

  .mint-bg {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: -1;
    transition: 2.5s ease-out opacity;
  }
  .snow {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    opacity: 0.25;
    mix-blend-mode: color-dodge;
    z-index: -1;
    transition: 2.5s ease-out opacity;
  }
  .mint-title {
    margin: 132px 0 0 60px;
    @include mint-title();
  }
  .circl-number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    background-image: url(../img/mint/round.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 17px 0 0 60px;
    transition: 2.5s ease-out opacity;
    span {
      color: #ea5f1b;
      font-family: "Roboto";
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
    }
  }
  .mint-subtitle {
    margin: 21px 0 0 60px;
    transition: 2.5s ease-out opacity;
    @include mint-subtitle();
  }
  .text-oval {
    display: flex;
    padding: 0 10px;
    margin: 9px 0 0 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 2.5s ease-out opacity;
    @include text-oval();
  }
  .nft-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 530px;
    padding: 15px;
    transition: 2.5s ease-out opacity;
    .img-container {
      position: relative;
      width: 100%;
      height: 608px;
      overflow: hidden;
      .mask {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;
      }
      .nft-preview {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.25s ease-out transform;
      }
      &:hover {
        .nft-preview {
          transform: scale(1.05);
        }
      }
    }
    .change {
      margin: 0 auto;
      position: relative;
      width: auto;
      height: auto;
      background: none;
      outline: 0;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      transform: translateY(-50%);
      z-index: 2;
      .change-bg {
        width: 142px;
        height: 142px;
      }
      .circle {
        position: absolute;
        left: 50%;
        top: 49.5%;
        transform: translate(-50%, -50%) scale(1);
        width: 96px;
        height: 96px;
        background: #fff;
        box-shadow: 0px 0px 25px 0px rgba(234, 95, 27, 0.5) inset;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.25s ease-out background, 0.25s ease-out transform;
        .time {
          display: none;
          color: #fff;
          font-family: "Roboto";
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          text-transform: uppercase;
        }
        svg {
          width: 44px;
          height: auto;
          path {
            transition: 0.25s ease-out fill, 0.25s ease-out transform;
          }
        }
      }
      &:hover {
        .circle {
          transform: translate(-50%, -50%) scale(0.9);
          background: #ea5f1b;
          svg {
            transform: scale(1.1);
            path {
              fill: white;
            }
          }
        }
      }
      &.timer {
        .circle {
          transform: translate(-50%, -50%) scale(0.9);
          background: #141313;
          box-shadow: none;

          span {
            display: block;
          }
          svg {
            display: none;
          }
        }
      }
    }
    .mint-nft {
      @include button();
      width: 100%;
      max-height: 54px;
      margin: -60px 0 0 0;
      span {
        &:last-child {
          transform: translateY(130%);
        }
      }
      &:hover {
        span {
          &:first-child {
            transform: translateY(-120%);
          }
        }
      }
    }
  }
  &.no-active {
    .mint-bg {
      opacity: 0;
    }
    .snow {
      opacity: 0;
    }
    .circl-number {
      opacity: 0;
    }
    .mint-subtitle {
      opacity: 0;
    }
    .text-oval {
      opacity: 0;
    }
    .nft-container {
      opacity: 0;
    }
  }
}

@media only screen and (max-width: 600px) and (min-aspect-ratio: 375 / 573) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    &::after {
      content: "";
      width: 25vw;
      height: 25vw;
      background-image: url(../img/tel.svg);
      background-size: 100% 100%;
      animation: tel 2s ease-in-out infinite;
    }
    .wrapper {
      display: none;
    }
  }

  @keyframes tel {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(-45deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}
