@media only screen and (max-width: 600px) {
  .preloader .rpeloader-bg {
    -o-object-position: 70% 50%;
       object-position: 70% 50%;
  }
  .preloader .logo {
    width: 22.933vw;
    top: 6.667vw;
    left: 4vw;
  }
  .preloader .number-container {
    bottom: 6.667vw;
    left: 4vw;
    gap: 4vw;
  }
  .preloader .number-container .number {
    font-size: 20.8vw;
  }
  .preloader .number-container .loading {
    font-size: 5.333vw;
    line-height: 7.467vw;
  }
  ._container {
    padding: 0 4vw;
  }
  .burger-menu {
    right: 4vw;
    top: 5.333vw;
    padding: 2.667vw 1.867vw;
    gap: 1.067vw;
    border-radius: 1.067vw;
  }
  .burger-menu span {
    width: 5.333vw;
    height: 0.533vw;
  }
  .close {
    width: 9.067vw;
    height: 9.067vw;
    margin: 0 0 5.333vw auto;
    transform: translateX(1.867vw);
  }
  .close span {
    width: 5.333vw;
    height: 0.533vw;
  }
  .blur {
    -webkit-backdrop-filter: blur(1.067vw);
            backdrop-filter: blur(1.067vw);
  }
  .header-logo {
    top: 6.667vw;
    left: 4vw;
  }
  .header-logo a .logo {
    width: 22.933vw;
  }
  .header .header_container {
    padding: 4vw;
  }
  .header .header_container .navigation-container {
    gap: 13.333vw;
  }
  .header .header_container .navigation-container .connect-wallet {
    padding: 2.133vw 13.867vw;
    border-radius: 1.067vw;
    font-size: 4vw;
    line-height: 100%;
    max-height: 8.5vw;
  }
  .header .header_container .navigation-container .navigation {
    font-size: 4vw;
    gap: 6.667vw;
  }
  .header .header_container .navigation-container .navigation li .navigation-item.active::after {
    width: 5.067vw;
    height: 0.533vw;
  }
  .main .main-bg {
    -o-object-position: 70% 50%;
       object-position: 70% 50%;
  }
  .main .main_container {
    padding: 0 4vw;
    position: relative;
    height: 100vh;
    height: var(--app-height);
    transition: 0.25s ease-out height;
    width: 100%;
  }
  .main .main_container .main-wrapper {
    position: absolute;
    bottom: 9vh;
    left: 4vw;
  }
  .main .main_container .main-wrapper .social {
    gap: 3.2vw;
  }
  .main .main_container .main-wrapper .social a {
    width: 9.067vw;
    height: 9.067vw;
  }
  .main .main_container .main-wrapper .social a svg {
    width: 4.8vw;
  }
  .main .main_container .main-wrapper .main-title {
    margin: 5.333vw 0 0 0;
    font-size: 24vw;
  }
  .main .main_container .main-wrapper .title-line {
    margin: 0 0 0 26.667vw;
    width: 65.067vw;
  }
  .main .main_container .main-wrapper .main-subtitle {
    width: 89.867vw;
    margin: 5.333vw 0 0 1.867vw;
  }
  .main .main_container .main-wrapper .main-subtitle p {
    font-size: 4.8vw;
    line-height: 6.4vw;
  }
  .main .main_container .main-wrapper .main-subtitle::before {
    width: 3.2vw;
    height: 3.2vw;
    left: 0;
    top: -5.333vw;
  }
  .manifesto {
    gap: 121.6vw;
  }
  .manifesto .manifesto-title {
    font-size: 24vw;
  }
  .manifesto .manifesto-text h3 {
    width: auto;
    margin: 0 0 0 4vw;
    font-size: 12.8vw;
  }
  .manifesto .manifesto-text span {
    margin: 0 0 0 4vw;
    font-size: 5.867vw;
    padding: 0.8vw 0 0 0;
    border-top: 0.533vw solid #ea5f1b;
    border-bottom: 0.533vw solid #ea5f1b;
  }
  .manifesto .manifesto-text p {
    margin: 4vw;
    font-size: 4.8vw;
    line-height: 6.4vw;
  }
  .roadmap {
    margin: 20vh 0 0 0;
    gap: 5.333vw;
    padding: 0 0 55.2vw 4vw;
  }
  .roadmap .left-block {
    padding: 26.667vw 0 0 0;
    height: auto;
    gap: 8vw;
  }
  .roadmap .left-block .roadmap-title {
    font-size: 24vw;
  }
  .roadmap .left-block .social {
    bottom: 36vw;
    gap: 3.2vw;
  }
  .roadmap .left-block .social a {
    width: 9.067vw;
    height: 9.067vw;
  }
  .roadmap .left-block .social a svg {
    width: 4.8vw;
    height: auto;
  }
  .roadmap .left-block .footer-text .reserved {
    bottom: 11.467vw;
    width: -moz-max-content;
    width: max-content;
    font-size: 4.267vw;
    line-height: 6.667vw;
  }
  .roadmap .left-block .footer-text .powered {
    margin: 0;
    gap: 1.6vw;
    font-size: 4.267vw;
  }
  .roadmap .left-block .footer-text .powered a svg {
    width: 28.8vw;
  }
  .roadmap .roadmap_item-container {
    gap: 8vw;
    padding: 5.333vw 0 0vw 0;
    width: 92vw;
  }
  .roadmap .roadmap_item-container .roadmap_item {
    width: 100%;
    height: 53.867vw;
    padding: 3.467vw;
  }
  .roadmap .roadmap_item-container .roadmap_item .circle {
    height: 9.067vw;
    width: 9.067vw;
  }
  .roadmap .roadmap_item-container .roadmap_item .circle svg {
    width: 3.467vw;
  }
  .roadmap .roadmap_item-container .roadmap_item .status {
    padding: 0 1.067vw;
    min-width: 16vw;
  }
  .roadmap .roadmap_item-container .roadmap_item .status span {
    font-size: 3.733vw;
    line-height: 5.333vw;
  }
  .roadmap .roadmap_item-container .roadmap_item .status span svg {
    width: 5.333vw;
  }
  .roadmap .roadmap_item-container .roadmap_item .date {
    margin: 5.333vw 0 0 0;
    font-size: 4.267vw;
    line-height: 6.4vw;
    padding: 0 1.6vw;
    border: 1px solid #ffffff;
  }
  .roadmap .roadmap_item-container .roadmap_item .item-title {
    margin: 2.667vw 0 0 0;
    font-size: 11.2vw;
  }
  .mint {
    height: 252.8vw !important;
    height: 100vh;
    height: var(--app-height);
  }
  .mint .preview-mint .preview-container .people {
    display: none;
  }
  .mint .preview-mint .preview-container .preview-bg {
    width: 343%;
  }
  .mint .preview-mint .preview-container .initiate {
    bottom: 32vw;
    width: 100vw;
    height: 100vw;
  }
  .mint .mint-bg {
    width: 415%;
  }
  .mint .mint-title {
    position: static;
    margin: 25.6vw 0 0 4vw;
    font-size: 18.133vw;
  }
  .mint .circl-number {
    width: 11.733vw;
    height: 11.733vw;
    margin: 5.333vw 0 0 4vw;
  }
  .mint .circl-number span {
    font-size: 4.267vw;
  }
  .mint .mint-subtitle {
    margin: 4vw 0 0 4vw;
    font-size: 8.533vw;
  }
  .mint .text-oval {
    padding: 0 1.6vw;
    margin: 1.867vw 0 0 4vw;
    font-size: 3.733vw;
    line-height: 5.867vw;
    border-radius: 11.733vw;
    border: 1px solid #fff;
  }
  .mint .nft-container {
    top: 92.8vw;
    width: 92vw;
    padding: 2.667vw;
  }
  .mint .nft-container .img-container {
    height: 105.6vw;
  }
  .mint .nft-container .change .change-bg {
    width: 24.533vw;
    height: 24.533vw;
  }
  .mint .nft-container .change .circle {
    width: 16.533vw;
    height: 16.533vw;
    box-shadow: 0vw 0vw 6.667vw 0vw rgba(234, 95, 27, 0.5) inset;
  }
  .mint .nft-container .change .circle .time {
    font-size: 4.267vw;
  }
  .mint .nft-container .change .circle svg {
    width: 7.467vw;
  }
  .mint .nft-container .mint-nft {
    padding: 2.133vw 13.867vw;
    border-radius: 1.067vw;
    font-size: 4vw;
    line-height: 100%;
    max-height: 8.5vw;
    max-height: 12.8vw;
    margin: -9.333vw 0 0 0;
    width: 92vw;
    transform: translateX(-2.667vw);
  }
  .welcome {
    height: 298.933vw;
  }
  .welcome .welcome-title {
    margin: 26.667vw 0 0 4vw;
    font-size: 12.8vw;
    font-size: 18.133vw;
  }
  .welcome .subtitle-container {
    margin: 8vw 0 0 37.6vw;
    gap: 13.333vw;
  }
  .welcome .subtitle-container .subtitle {
    font-size: 10.133vw;
    transform: translateX(-54%);
  }
  .welcome .subtitle-container .member-container {
    margin: 0;
  }
  .welcome .subtitle-container .member-container .member-title {
    font-size: 5.867vw;
  }
  .welcome .subtitle-container .member-container .status {
    margin: 1.067vw 0 0 0;
    font-size: 4.267vw;
  }
  .welcome .subtitle-container .member-container .date {
    margin: 3.733vw 0 0 0;
    font-size: 4.267vw;
  }
  .welcome .nft-container {
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    bottom: 40.267vw;
    width: 72.8vw;
    height: 97.067vw;
  }
  .welcome .webcome-bg {
    left: 50%;
    right: auto;
    bottom: 0;
    transform: translateX(-50%);
    width: 175.467vw;
  }
  .welcome .sparks {
    left: 50%;
    right: auto;
    bottom: 38.667vw;
    transform: translateX(-50%);
    width: 186.667vw;
  }
  .payment {
    padding: 0 0 8vw 0;
  }
  .payment .payment-title {
    margin: 26.667vw 0 0 4vw;
    font-size: 12.8vw;
    font-size: 18.133vw;
  }
  .payment .preview-member {
    top: 50.133vw;
    left: 4vw;
    gap: 4.8vw;
  }
  .payment .preview-member .img-container {
    width: 32.533vw;
    height: 39.2vw;
  }
  .payment .preview-member .right-block .prewiew-title {
    font-size: 5.867vw;
  }
  .payment .preview-member .right-block .prewiew-subtitle {
    margin: 1.067vw 0 0 0;
    font-size: 4.267vw;
  }
  .payment .preview-member .right-block .cancel {
    margin: 3.733vw 0 0 0;
    gap: 2.133vw;
    font-size: 4.267vw;
    line-height: 4.8vw;
  }
  .payment .preview-member .right-block .cancel svg {
    width: 4.533vw;
  }
  .payment .preview-member .right-block .cancel span::after {
    height: 1px;
  }
  .payment .preview-member .right-block .cancel svg {
    width: 4.533vw;
  }
  .payment .reserved {
    top: 81.6vw;
    right: 4vw;
    gap: 1.067vw;
  }
  .payment .reserved .reserved-title {
    font-size: 4.267vw;
    margin: 0 3.467vw 0 0;
  }
  .payment .reserved .minutes,
  .payment .reserved .seconds {
    width: 10.667vw;
    height: 10.667vw;
    border-radius: 1.6vw;
    border: 1px solid #323232;
    font-size: 4.8vw;
  }
  .payment .reserved .colon {
    font-size: 3.733vw;
  }
  .payment .subtitle-container {
    margin: 61.333vw 0 0 4vw;
    flex-direction: column;
    align-items: flex-start;
    gap: 4vw;
  }
  .payment .subtitle-container .circl-number {
    width: 11.733vw;
    height: 11.733vw;
  }
  .payment .subtitle-container .circl-number span {
    font-size: 4.267vw;
  }
  .payment .subtitle-container .subtitle {
    font-size: 8.533vw;
  }
  .payment .accordion-container {
    margin: 5.333vw 0 0 4vw;
    gap: 4vw;
  }
  .payment .accordion-container .connected-wallet.open {
    height: 108.533vw;
  }
  .payment .accordion-container .external-wallet.open {
    height: 179.467vw;
  }
  .payment .accordion-container .connected-wallet,
  .payment .accordion-container .external-wallet {
    padding: 0 5.333vw 0 0;
    width: 92vw;
    height: 25.067vw;
    border-radius: 1.6vw;
  }
  .payment .accordion-container .connected-wallet.open .connected-container .top-block .accordion-img,
  .payment .accordion-container .connected-wallet.open .external-container .top-block .accordion-img,
  .payment .accordion-container .external-wallet.open .connected-container .top-block .accordion-img,
  .payment .accordion-container .external-wallet.open .external-container .top-block .accordion-img {
    opacity: 0;
  }
  .payment .accordion-container .connected-wallet .connected-container,
  .payment .accordion-container .connected-wallet .external-container,
  .payment .accordion-container .external-wallet .connected-container,
  .payment .accordion-container .external-wallet .external-container {
    padding: 0;
  }
  .payment .accordion-container .connected-wallet .connected-container .top-block,
  .payment .accordion-container .connected-wallet .external-container .top-block,
  .payment .accordion-container .external-wallet .connected-container .top-block,
  .payment .accordion-container .external-wallet .external-container .top-block {
    padding: 5.333vw 0 5.333vw 5.333vw;
  }
  .payment .accordion-container .connected-wallet .connected-container .top-block .accordion-title,
  .payment .accordion-container .connected-wallet .external-container .top-block .accordion-title,
  .payment .accordion-container .external-wallet .connected-container .top-block .accordion-title,
  .payment .accordion-container .external-wallet .external-container .top-block .accordion-title {
    font-size: 5.867vw;
  }
  .payment .accordion-container .connected-wallet .connected-container .top-block .accordion-img,
  .payment .accordion-container .connected-wallet .external-container .top-block .accordion-img,
  .payment .accordion-container .external-wallet .connected-container .top-block .accordion-img,
  .payment .accordion-container .external-wallet .external-container .top-block .accordion-img {
    transition: 0.25s ease-out opacity;
    width: 21.867vw;
    top: 1.6vw;
    right: 2.667vw;
  }
  .payment .accordion-container .connected-wallet .connected-container .top-block .accordion-arrow,
  .payment .accordion-container .connected-wallet .external-container .top-block .accordion-arrow,
  .payment .accordion-container .external-wallet .connected-container .top-block .accordion-arrow,
  .payment .accordion-container .external-wallet .external-container .top-block .accordion-arrow {
    width: 3.733vw;
    margin: 5.333vw 0 0 0;
  }
  .payment .accordion-container .connected-wallet .connected-container .top-block .qr-code,
  .payment .accordion-container .connected-wallet .external-container .top-block .qr-code,
  .payment .accordion-container .external-wallet .connected-container .top-block .qr-code,
  .payment .accordion-container .external-wallet .external-container .top-block .qr-code {
    margin: 9.067vw 0 0 0;
    gap: 21.867vw;
  }
  .payment .accordion-container .connected-wallet .connected-container .top-block .qr-code .qr-container,
  .payment .accordion-container .connected-wallet .external-container .top-block .qr-code .qr-container,
  .payment .accordion-container .external-wallet .connected-container .top-block .qr-code .qr-container,
  .payment .accordion-container .external-wallet .external-container .top-block .qr-code .qr-container {
    width: 29.333vw;
    height: 29.333vw;
    padding: 1.067vw;
    border-radius: 1.6vw;
  }
  .payment .accordion-container .connected-wallet .connected-container .top-block .qr-code .qr-container .img-qr,
  .payment .accordion-container .connected-wallet .external-container .top-block .qr-code .qr-container .img-qr,
  .payment .accordion-container .external-wallet .connected-container .top-block .qr-code .qr-container .img-qr,
  .payment .accordion-container .external-wallet .external-container .top-block .qr-code .qr-container .img-qr {
    width: 100%;
    height: 100%;
  }
  .payment .accordion-container .connected-wallet .connected-container .top-block .qr-code .accordion-name,
  .payment .accordion-container .connected-wallet .external-container .top-block .qr-code .accordion-name,
  .payment .accordion-container .external-wallet .connected-container .top-block .qr-code .accordion-name,
  .payment .accordion-container .external-wallet .external-container .top-block .qr-code .accordion-name {
    font-size: 4.267vw;
  }
  .payment .accordion-container .connected-wallet .connected-container .top-block .recipient-address,
  .payment .accordion-container .connected-wallet .external-container .top-block .recipient-address,
  .payment .accordion-container .external-wallet .connected-container .top-block .recipient-address,
  .payment .accordion-container .external-wallet .external-container .top-block .recipient-address {
    margin: 6.4vw 0 0 0;
    gap: 6.4vw;
  }
  .payment .accordion-container .connected-wallet .connected-container .top-block .recipient-address .accordion-name,
  .payment .accordion-container .connected-wallet .external-container .top-block .recipient-address .accordion-name,
  .payment .accordion-container .external-wallet .connected-container .top-block .recipient-address .accordion-name,
  .payment .accordion-container .external-wallet .external-container .top-block .recipient-address .accordion-name {
    font-size: 4.267vw;
  }
  .payment .accordion-container .connected-wallet .connected-container .top-block .recipient-address .adress,
  .payment .accordion-container .connected-wallet .external-container .top-block .recipient-address .adress,
  .payment .accordion-container .external-wallet .connected-container .top-block .recipient-address .adress,
  .payment .accordion-container .external-wallet .external-container .top-block .recipient-address .adress {
    gap: 2.133vw;
    padding: 1.6vw 2.667vw;
    border-radius: 1.6vw;
    border: 1px solid rgba(234, 95, 27, 0.25);
    font-size: 4.267vw;
  }
  .payment .accordion-container .connected-wallet .connected-container .top-block .recipient-address .adress .copy,
  .payment .accordion-container .connected-wallet .external-container .top-block .recipient-address .adress .copy,
  .payment .accordion-container .external-wallet .connected-container .top-block .recipient-address .adress .copy,
  .payment .accordion-container .external-wallet .external-container .top-block .recipient-address .adress .copy {
    width: 4.8vw;
  }
  .payment .accordion-container .connected-wallet .connected-container .top-block .mint-price,
  .payment .accordion-container .connected-wallet .external-container .top-block .mint-price,
  .payment .accordion-container .external-wallet .connected-container .top-block .mint-price,
  .payment .accordion-container .external-wallet .external-container .top-block .mint-price {
    margin: 9.067vw 0 0 0;
    gap: 18.133vw;
  }
  .payment .accordion-container .connected-wallet .connected-container .top-block .mint-price .accordion-name,
  .payment .accordion-container .connected-wallet .external-container .top-block .mint-price .accordion-name,
  .payment .accordion-container .external-wallet .connected-container .top-block .mint-price .accordion-name,
  .payment .accordion-container .external-wallet .external-container .top-block .mint-price .accordion-name {
    font-size: 4.267vw;
  }
  .payment .accordion-container .connected-wallet .connected-container .top-block .mint-price .accordion-meaning,
  .payment .accordion-container .connected-wallet .external-container .top-block .mint-price .accordion-meaning,
  .payment .accordion-container .external-wallet .connected-container .top-block .mint-price .accordion-meaning,
  .payment .accordion-container .external-wallet .external-container .top-block .mint-price .accordion-meaning {
    font-size: 4.267vw;
  }
  .payment .accordion-container .connected-wallet .connected-container .top-block .mint-price .accordion-meaning .accordion-sum,
  .payment .accordion-container .connected-wallet .external-container .top-block .mint-price .accordion-meaning .accordion-sum,
  .payment .accordion-container .external-wallet .connected-container .top-block .mint-price .accordion-meaning .accordion-sum,
  .payment .accordion-container .external-wallet .external-container .top-block .mint-price .accordion-meaning .accordion-sum {
    font-size: 4.267vw;
  }
  .payment .accordion-container .connected-wallet .connected-container .top-block .network-fee,
  .payment .accordion-container .connected-wallet .external-container .top-block .network-fee,
  .payment .accordion-container .external-wallet .connected-container .top-block .network-fee,
  .payment .accordion-container .external-wallet .external-container .top-block .network-fee {
    margin: 6.4vw 0 0 0;
    gap: 13.867vw;
  }
  .payment .accordion-container .connected-wallet .connected-container .top-block .network-fee .accordion-name,
  .payment .accordion-container .connected-wallet .external-container .top-block .network-fee .accordion-name,
  .payment .accordion-container .external-wallet .connected-container .top-block .network-fee .accordion-name,
  .payment .accordion-container .external-wallet .external-container .top-block .network-fee .accordion-name {
    font-size: 4.267vw;
  }
  .payment .accordion-container .connected-wallet .connected-container .top-block .network-fee .accordion-meaning,
  .payment .accordion-container .connected-wallet .external-container .top-block .network-fee .accordion-meaning,
  .payment .accordion-container .external-wallet .connected-container .top-block .network-fee .accordion-meaning,
  .payment .accordion-container .external-wallet .external-container .top-block .network-fee .accordion-meaning {
    font-size: 4.267vw;
  }
  .payment .accordion-container .connected-wallet .connected-container .top-block .network-fee .accordion-meaning .accordion-sum,
  .payment .accordion-container .connected-wallet .external-container .top-block .network-fee .accordion-meaning .accordion-sum,
  .payment .accordion-container .external-wallet .connected-container .top-block .network-fee .accordion-meaning .accordion-sum,
  .payment .accordion-container .external-wallet .external-container .top-block .network-fee .accordion-meaning .accordion-sum {
    font-size: 4.267vw;
  }
  .payment .accordion-container .connected-wallet .connected-container .total-amount,
  .payment .accordion-container .connected-wallet .external-container .total-amount,
  .payment .accordion-container .external-wallet .connected-container .total-amount,
  .payment .accordion-container .external-wallet .external-container .total-amount {
    gap: 1.6vw;
    padding: 5.333vw 5.333vw 4.267vw 5.333vw;
    border-radius: 0 1.6vw 1.6vw 0;
    border-top: 1px solid #141313;
    border-right: 1px solid #141313;
    border-bottom: 1px solid #141313;
  }
  .payment .accordion-container .connected-wallet .connected-container .total-amount .accordion-name,
  .payment .accordion-container .connected-wallet .external-container .total-amount .accordion-name,
  .payment .accordion-container .external-wallet .connected-container .total-amount .accordion-name,
  .payment .accordion-container .external-wallet .external-container .total-amount .accordion-name {
    font-size: 4.267vw;
  }
  .payment .accordion-container .connected-wallet .connected-container .total-amount .accordion-quantity,
  .payment .accordion-container .connected-wallet .external-container .total-amount .accordion-quantity,
  .payment .accordion-container .external-wallet .connected-container .total-amount .accordion-quantity,
  .payment .accordion-container .external-wallet .external-container .total-amount .accordion-quantity {
    font-size: 9.6vw;
  }
  .payment .accordion-container .connected-wallet .connected-container .total-amount .accordion-quantity .currency,
  .payment .accordion-container .connected-wallet .external-container .total-amount .accordion-quantity .currency,
  .payment .accordion-container .external-wallet .connected-container .total-amount .accordion-quantity .currency,
  .payment .accordion-container .external-wallet .external-container .total-amount .accordion-quantity .currency {
    font-size: 5.867vw;
  }
  .payment .accordion-container .connected-wallet .connected-container .total-amount .accordion-sum,
  .payment .accordion-container .connected-wallet .external-container .total-amount .accordion-sum,
  .payment .accordion-container .external-wallet .connected-container .total-amount .accordion-sum,
  .payment .accordion-container .external-wallet .external-container .total-amount .accordion-sum {
    right: 5.333vw;
    bottom: 5.867vw;
    font-size: 4.267vw;
  }
  .payment .accordion-container .connected-wallet .connected-container .accordion-button,
  .payment .accordion-container .connected-wallet .external-container .accordion-button,
  .payment .accordion-container .external-wallet .connected-container .accordion-button,
  .payment .accordion-container .external-wallet .external-container .accordion-button {
    margin: 8vw 0 0 5.333vw;
    min-width: auto;
    width: 81.333vw;
    padding: 2.133vw 13.867vw;
    border-radius: 1.067vw;
    font-size: 4vw;
    line-height: 100%;
    max-height: 8.5vw;
    max-height: 11.733vw;
  }
  .payment .accordion-container .connected-wallet .connected-container .accordion-button span:last-child,
  .payment .accordion-container .connected-wallet .external-container .accordion-button span:last-child,
  .payment .accordion-container .external-wallet .connected-container .accordion-button span:last-child,
  .payment .accordion-container .external-wallet .external-container .accordion-button span:last-child {
    transform: translateY(150%);
  }
  .payment .accordion-container .connected-wallet .connected-container .accordion-button:hover span:first-child,
  .payment .accordion-container .connected-wallet .external-container .accordion-button:hover span:first-child,
  .payment .accordion-container .external-wallet .connected-container .accordion-button:hover span:first-child,
  .payment .accordion-container .external-wallet .external-container .accordion-button:hover span:first-child {
    transform: translateY(-150%);
  }
  .payment .accordion-container .connected-wallet .connected-container .bottom-container,
  .payment .accordion-container .connected-wallet .external-container .bottom-container,
  .payment .accordion-container .external-wallet .connected-container .bottom-container,
  .payment .accordion-container .external-wallet .external-container .bottom-container {
    gap: 4vw;
    flex-direction: column;
  }
  .payment .accordion-container .connected-wallet .connected-container .bottom-container .instruction,
  .payment .accordion-container .connected-wallet .external-container .bottom-container .instruction,
  .payment .accordion-container .external-wallet .connected-container .bottom-container .instruction,
  .payment .accordion-container .external-wallet .external-container .bottom-container .instruction {
    margin: 0 0 0 5.333vw;
    text-align: center;
    font-size: 3.733vw;
    line-height: 5.333vw;
  }
}/*# sourceMappingURL=mobile.css.map */