@media only screen and (max-width: 600px) {
  @mixin h2 {
    font-size: 24vw;
  }
  @mixin h3 {
    font-size: 12.8vw;
  }
  @mixin h4 {
    font-size: 11.2vw;
  }
  @mixin text {
    font-size: 4.8vw;
    line-height: 6.4vw;
  }
  @mixin text-mini {
    font-size: 5.867vw;
    padding: 0.8vw 0 0 0;
    border-top: 0.533vw solid #ea5f1b;
    border-bottom: 0.533vw solid #ea5f1b;
  }
  @mixin social {
    width: 9.067vw;
    height: 9.067vw;
  }
  @mixin button {
    padding: 2.133vw 13.867vw;
    border-radius: 1.067vw;
    font-size: 4vw;
    line-height: 100%;
    max-height: 8.5vw;
  }

  .preloader {
    .rpeloader-bg{
      object-position: 70% 50%;
    }
    .logo {
      width: 22.933vw;
      top: 6.667vw;
      left: 4vw;
    }
    .number-container {
      bottom: 6.667vw;
      left: 4vw;
      gap: 4vw;
      .number {
        font-size: 20.8vw;
      }
      .loading {
        font-size: 5.333vw;
        line-height: 7.467vw;
      }
    }
  }


  ._container {
    padding: 0 4vw;
  }
  .burger-menu {
    right: 4vw;
    top: 5.333vw;
    padding: 2.667vw 1.867vw;
    gap: 1.067vw;
    border-radius: 1.067vw;
    span {
      width: 5.333vw;
      height: 0.533vw;
    }
  }
  .close {
    width: 9.067vw;
    height: 9.067vw;
    margin: 0 0 5.333vw auto;
    transform: translateX(1.867vw);
    span {
      width: 5.333vw;
      height: 0.533vw;
    }
  }
  .blur {
    backdrop-filter: blur(1.067vw);
  }
  .header-logo {
    top: 6.667vw;
    left: 4vw;
    a {
      .logo {
        width: 22.933vw;
      }
    }
  }
  .header {
    .header_container {
      padding: 4vw;
      .navigation-container {
        gap: 13.333vw;
        .connect-wallet {
          @include button();
        }
        .navigation {
          font-size: 4vw;
          gap: 6.667vw;
          li {
            .navigation-item {
              &.active {
                &::after {
                  width: 5.067vw;
                  height: 0.533vw;
                }
              }
            }
          }
        }
      }
    }
  }
  .main {
    .main-bg {
      object-position: 70% 50%;
    }
    .main_container {
      padding: 0 4vw;
      position: relative;
      height: 100vh;
      height: var(--app-height);
      transition: .25s ease-out height;
      width: 100%;
      .main-wrapper {
        position: absolute;
        bottom: 9vh;
        left: 4vw;
        .social {
          gap: 3.2vw;
          a {
            svg {
              width: 4.8vw;
            }
            @include social();
          }
        }
        .main-title {
          margin: 5.333vw 0 0 0;
          font-size: 24vw;
        }
        .title-line {
          margin: 0 0 0 26.667vw;
          width: 65.067vw;
        }
        .main-subtitle {
          width: 89.867vw;
          margin: 5.333vw 0 0 1.867vw;
          p {
            @include text();
          }
          &::before {
            width: 3.2vw;
            height: 3.2vw;
            left: 0;
            top: -5.333vw;
          }
        }
      }
    }
  }
  .manifesto {
    gap: 121.6vw;
    .manifesto-title {
      @include h2();
    }
    .manifesto-text {
      h3 {
        width: auto;
        margin: 0 0 0 4vw;
        @include h3();
      }
      span {
        margin: 0 0 0 4vw;
        @include text-mini();
      }
      p {
        margin: 4vw;
        @include text();
      }
    }
  }
  .roadmap {
    margin: 20vh 0 0 0;
    gap: 5.333vw;
    padding: 0 0 55.2vw 4vw;
    .left-block {
      padding: 26.667vw 0 0 0;
      height: auto;
      gap: 8vw;
      .roadmap-title {
        @include h2();
      }
      .social {
        bottom: 36vw;
        gap: 3.2vw;
        a {
          svg {
            width: 4.8vw;
            height: auto;
          }
          @include social();
        }
      }

      .footer-text{
        .reserved {
          bottom: 11.467vw;
          width: max-content;
          font-size: 4.267vw;
          line-height: 6.667vw;
        }
        .powered {
          margin: 0;
          gap: 1.6vw;
          font-size: 4.267vw;
          a {
            svg {
              width: 28.8vw;
            }
          }
        }
      }
 



    }
    .roadmap_item-container {
      gap: 8vw;
      padding: 5.333vw 0 0vw 0;
      width: 92vw;
      .roadmap_item {
        width: 100%;
        height: 53.867vw;
        padding: 3.467vw;
        .circle {
          height: 9.067vw;
          width: 9.067vw;
          svg {
            width: 3.467vw;
          }
        }
        .status {
          padding: 0 1.067vw;
          min-width: 16vw;
          span {
            font-size: 3.733vw;
            line-height: 5.333vw;
            svg {
              width: 5.333vw;
            }
          }
        }
        .date {
          margin: 5.333vw 0 0 0;
          font-size: 4.267vw;
          line-height: 6.4vw;
          padding: 0 1.6vw;
          border: 1px solid #ffffff;
        }
        .item-title {
          margin: 2.667vw 0 0 0;
          @include h4();
        }
      }
    }
  }
}
