@media only screen and (max-width: 600px) {
  @mixin h2 {
    font-size: 90px;
  }
  @mixin h3 {
    font-size: 48px;
  }
  @mixin h4 {
    font-size: 42px;
  }
  @mixin text {
    font-size: 18px;
    line-height: 24px;
  }
  @mixin text-mini {
    font-size: 22px;
    padding: 3px 0 0 0;
    border-top: 2px solid #ea5f1b;
    border-bottom: 2px solid #ea5f1b;
  }
  @mixin social {
    width: 34px;
    height: 34px;
  }
  @mixin button {
    padding: 8px 52px;
    border-radius: 4px;
    font-size: 15px;
    line-height: 100%;
    max-height: 33px;
  }

  ._container {
    padding: 0 15px;
  }
  .burger-menu {
    right: 15px;
    top: 20px;
    padding: 10px 7px;
    gap: 4px;
    border-radius: 4px;
    span {
      width: 20px;
      height: 2px;
    }
  }
  .close {
    width: 34px;
    height: 34px;
    margin: 0 0 20px auto;
    transform: translateX(7px);
    span {
      width: 20px;
      height: 2px;
    }
  }
  .blur {
    backdrop-filter: blur(4px);
  }
  .header-logo {
    top: 25px;
    left: 15px;
    a {
      .logo {
        width: 86px;
      }
    }
  }
  .header {
    .header_container {
      padding: 15px;
      .navigation-container {
        gap: 50px;
        .connect-wallet {
          @include button();
        }
        .navigation {
          font-size: 15px;
          gap: 25px;
          li {
            .navigation-item {
              &.active {
                &::after {
                  width: 19px;
                  height: 2px;
                }
              }
            }
          }
        }
      }
    }
  }
  .main {
    .main-bg {
      object-position: 70% 50%;
    }
    .main_container {
      padding: 0 15px;
      position: relative;
      height: 100vh;
      width: 100%;
      .main-wrapper {
        position: absolute;
        bottom: 132px;
        left: 15px;
        .social {
          gap: 12px;
          a {
            svg {
              width: 18px;
            }
            @include social();
          }
        }
        .main-title {
          margin: 20px 0 0 0;
          font-size: 90px;
        }
        .title-line {
          margin: 0 0 0 100px;
          width: 244px;
        }
        .main-subtitle {
          width: 337px;
          margin: 20px 0 0 7px;
          p {
            @include text();
          }
          &::before {
            width: 12px;
            height: 12px;
            left: 0;
            top: -20px;
          }
        }
      }
    }
  }
  .manifesto {
    gap: 456px;
    .manifesto-title {
      @include h2();
    }
    .manifesto-text {
      h3 {
        width: auto;
        margin: 0 0 0 15px;
        @include h3();
      }
      span {
        margin: 0 0 0 15px;
        @include text-mini();
      }
      p {
        margin: 15px;
        @include text();
      }
    }
  }
  .roadmap {
    margin: 0vh 0 0 0;
    gap: 20px;
    padding: 0 0 207px 15px;
    .left-block {
      padding: 100px 0 0 0;
      height: auto;
      gap: 30px;
      .roadmap-title {
        @include h2();
      }
      .social {
        bottom: 93px;
        gap: 12px;
        a {
          svg {
            width: 18px;
            height: auto;
          }
          @include social();
        }
      }
      .reserved {
        bottom: 43px;
        width: max-content;
        font-size: 16px;
        line-height: 25px;
      }
    }
    .roadmap_item-container {
      gap: 30px;
      padding: 20px 0 0px 0;
      width: 345px;
      .roadmap_item {
        width: 100%;
        height: 202px;
        padding: 13px;
        .circle {
          height: 34px;
          width: 34px;
          svg {
            width: 13px;
          }
        }
        .status {
          padding: 0 4px;
          min-width: 60px;
          span {
            font-size: 14px;
            line-height: 20px;
            svg {
              width: 20px;
            }
          }
        }
        .date {
          margin: 20px 0 0 0;
          font-size: 16px;
          line-height: 24px;
          padding: 0 6px;
          border: 1px solid #ffffff;
        }
        .item-title {
          margin: 10px 0 0 0;
          @include h4();
        }
      }
    }
  }
}
