@media only screen and (max-width: 860px) {
  .preloader .rpeloader-bg {
    -o-object-position: 75% 50%;
       object-position: 75% 50%;
  }
  .preloader .logo {
    width: 11.198vw;
    top: 3.906vw;
    left: 3.906vw;
  }
  .preloader .number-container {
    bottom: 3.906vw;
    left: 3.906vw;
    gap: 1.953vw;
  }
  .preloader .number-container .number {
    font-size: 10.156vw;
  }
  .preloader .number-container .loading {
    font-size: 2.604vw;
    line-height: 3.646vw;
  }
  ._container {
    padding: 0 3.906vw;
  }
  .burger-menu {
    right: 3.906vw;
    top: 3.906vw;
    z-index: 20;
    padding: 1.302vw 0.911vw;
    gap: 0.521vw;
    border-radius: 0.521vw;
  }
  .burger-menu span {
    width: 2.604vw;
    height: 0.26vw;
  }
  .close {
    width: 4.427vw;
    height: 4.427vw;
    margin: 0 0 2.604vw auto;
    transform: translateX(0.911vw);
  }
  .close span {
    width: 2.604vw;
    height: 0.26vw;
  }
  .blur {
    -webkit-backdrop-filter: blur(0.521vw);
            backdrop-filter: blur(0.521vw);
  }
  .header-logo {
    top: 3.906vw;
    left: 3.906vw;
    transition: 0.25s ease-out opacity;
  }
  .header-logo a .logo {
    width: 11.198vw;
  }
  .header .header_container {
    padding: 3.906vw;
  }
  .header .header_container .navigation-container {
    gap: 6.51vw;
  }
  .header .header_container .navigation-container .connect-wallet {
    padding: 1.042vw 6.771vw;
    border-radius: 0.521vw;
    font-size: 1.953vw;
    line-height: 100%;
    max-height: 4.1vw;
  }
  .header .header_container .navigation-container .navigation {
    font-size: 1.953vw;
    gap: 3.255vw;
  }
  .header .header_container .navigation-container .navigation li .navigation-item.active::after {
    width: 2.474vw;
    height: 0.26vw;
  }
  .main .main-bg {
    -o-object-position: 75% 50%;
       object-position: 75% 50%;
  }
  .main .main_container {
    padding: 0 3.906vw;
    position: relative;
    height: 100vh;
    height: var(--app-height);
    transition: 0.25s ease-out height;
    width: 100%;
  }
  .main .main_container .main-wrapper {
    position: absolute;
    bottom: 8.594vw;
    left: 3.906vw;
    width: 100%;
    margin: 0;
    top: auto;
    transform: translate(0);
  }
  .main .main_container .main-wrapper .social {
    margin: 0;
    gap: 1.563vw;
  }
  .main .main_container .main-wrapper .social a {
    width: 4.427vw;
    height: 4.427vw;
  }
  .main .main_container .main-wrapper .social a svg {
    width: 2.344vw;
  }
  .main .main_container .main-wrapper .main-title {
    margin: 3.906vw 0 0 0;
    font-size: 21.094vw;
  }
  .main .main_container .main-wrapper .title-line {
    margin: 0 0 0 28.125vw;
    width: 52.604vw;
  }
  .main .main_container .main-wrapper .main-subtitle {
    width: 76.432vw;
    margin: 2.604vw 0 0 0;
  }
  .main .main_container .main-wrapper .main-subtitle p {
    font-size: 2.604vw;
    line-height: 3.646vw;
  }
  .main .main_container .main-wrapper .main-subtitle::before {
    width: 1.563vw;
    height: 1.563vw;
    left: 0;
    top: -2.604vw;
  }
  .manifesto {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 31.25vw;
  }
  .manifesto .bg-container .bg-container2 {
    top: 0 !important;
    left: 0;
  }
  .manifesto .bg-container .bg-container2 .manifesto-bg {
    height: 100vh;
    height: var(--app-height);
    transition: 0.25s ease-out filter, 0.25s ease-out opacity, 0.25s ease-out height;
    -o-object-position: top;
       object-position: top;
  }
  .manifesto .bg-container .bg-container2 .manifesto-bg.opacity {
    opacity: 0;
  }
  .manifesto .manifesto-title {
    padding: 125vh 0 0 0;
    height: auto;
    font-size: 16.146vw;
    line-height: 100%;
  }
  .manifesto .manifesto-text {
    height: auto;
  }
  .manifesto .manifesto-text h3 {
    width: auto;
    margin: 0 0 0 2.604vw;
    font-size: 7.552vw;
    line-height: 100%;
  }
  .manifesto .manifesto-text span {
    margin: 0 0 0 2.604vw;
    font-size: 2.865vw;
    line-height: 100%;
    padding: 0.391vw 0 0 0;
    border-top: 0.26vw solid #ea5f1b;
    border-bottom: 0.26vw solid #ea5f1b;
  }
  .manifesto .manifesto-text p {
    margin: 2.604vw;
    font-size: 2.604vw;
    line-height: 3.646vw;
  }
  .manifesto .text1 {
    padding: 0;
  }
  .manifesto .text1 p {
    width: auto;
  }
  .manifesto .text2 {
    padding: 0;
  }
  .manifesto .text2 p {
    width: auto;
  }
  .manifesto .text3 {
    padding: 0;
  }
  .manifesto .text3 p {
    width: auto;
  }
  .roadmap {
    margin: 15vh 0 0 0;
    gap: 2.604vw;
    padding: 0 0 34.635vw 2.604vw;
    z-index: 1;
    flex-direction: column;
  }
  .roadmap .sparks-container {
    background: #141313;
    opacity: 0;
    z-index: -1;
    left: 0;
  }
  .roadmap .sparks-container .sparks {
    width: 100%;
  }
  .roadmap .left-block {
    padding: 10.417vw 0 0 0;
    gap: 5.208vw;
    position: static;
    justify-content: flex-start;
    height: auto;
  }
  .roadmap .left-block .roadmap-title {
    text-align: start;
    margin: 0;
    font-size: 16.146vw;
    line-height: 100%;
  }
  .roadmap .left-block .social {
    position: absolute;
    bottom: 18.49vw;
    left: 50%;
    transform: translateX(-50%);
    flex-direction: row;
    gap: 1.563vw;
  }
  .roadmap .left-block .social a {
    width: 4.427vw;
    height: 4.427vw;
  }
  .roadmap .left-block .social a svg {
    width: 2.344vw;
    height: auto;
  }
  .roadmap .left-block .social a svg path {
    transition: 0.25s ease-out fill;
  }
  .roadmap .left-block .footer-text {
    position: absolute;
    bottom: 6.51vw;
    left: 50%;
    transform: translateX(-50%);
    align-items: center;
  }
  .roadmap .left-block .footer-text .reserved {
    font-size: 2.083vw;
    line-height: 3.255vw;
  }
  .roadmap .left-block .footer-text .powered {
    margin: 0;
    gap: 0.781vw;
    font-size: 2.083vw;
  }
  .roadmap .left-block .footer-text .powered a svg {
    width: 14.063vw;
  }
  .roadmap .roadmap_item-container {
    gap: 3.906vw;
    padding: 2.604vw 0 0vw 0;
    align-items: center;
  }
  .roadmap .roadmap_item-container .roadmap_item {
    width: 61.458vw;
    height: 35.938vw;
    padding: 1.953vw;
  }
  .roadmap .roadmap_item-container .roadmap_item .circle {
    height: 5.208vw;
    width: 5.208vw;
  }
  .roadmap .roadmap_item-container .roadmap_item .circle svg {
    width: 1.953vw;
  }
  .roadmap .roadmap_item-container .roadmap_item .status {
    padding: 0 0.521vw;
    min-width: 7.813vw;
    display: flex;
    justify-content: center;
  }
  .roadmap .roadmap_item-container .roadmap_item .status span {
    font-size: 1.823vw;
    line-height: 2.604vw;
  }
  .roadmap .roadmap_item-container .roadmap_item .status span svg {
    width: 2.604vw;
  }
  .roadmap .roadmap_item-container .roadmap_item .date {
    margin: 2.604vw 0 0 0;
    font-size: 2.083vw;
    line-height: 3.125vw;
    padding: 0 0.781vw;
    border: 1px solid #ffffff;
  }
  .roadmap .roadmap_item-container .roadmap_item .item-title {
    margin: 1.302vw 0 0 0;
    font-size: 6.25vw;
    line-height: 100%;
  }
  .roadmap .roadmap_item-container .roadmap_item.blocked .status {
    justify-content: flex-end;
  }
  .mint {
    height: 100vh;
    height: var(--app-height);
  }
  .mint .preview-mint .preview-container .people {
    width: 90.104vw;
    filter: blur(0.521vw);
  }
  .mint .preview-mint .preview-container .people:nth-child(1) {
    display: none;
  }
  .mint .preview-mint .preview-container .people:nth-child(2) {
    left: -51.172vw;
  }
  .mint .preview-mint .preview-container .people:nth-child(3) {
    right: -46.484vw;
  }
  .mint .preview-mint .preview-container .people:nth-child(4) {
    display: none;
  }
  .mint .preview-mint .preview-container .preview-bg {
    width: 215%;
  }
  .mint .preview-mint .preview-container .initiate {
    bottom: 19.661vw;
    width: 62.76vw;
    height: 62.76vw;
  }
  .mint .mint-bg {
    width: 200%;
    left: 50%;
    transform: translateX(-50%);
  }
  .mint .mint-title {
    position: absolute;
    left: 0;
    top: 0;
    margin: 12.5vw 0 0 3.906vw;
    font-size: 10.156vw;
  }
  .mint .circl-number {
    width: 6.51vw;
    height: 6.51vw;
    margin: 14.323vw 0 0 25.391vw;
  }
  .mint .circl-number span {
    font-size: 2.344vw;
  }
  .mint .mint-subtitle {
    margin: 1.953vw 0 0 25.391vw;
    font-size: 4.948vw;
  }
  .mint .text-oval {
    padding: 0 0.781vw;
    margin: 1.042vw 0 0 25.391vw;
    font-size: 2.083vw;
    line-height: 3.125vw;
    border-radius: 5.729vw;
    border: 1px solid #fff;
  }
  .mint .nft-container {
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    bottom: auto;
    top: 39.714vw;
    width: 52.474vw;
    padding: 1.432vw;
  }
  .mint .nft-container .img-container {
    height: 60.286vw;
  }
  .mint .nft-container .change .change-bg {
    width: 14.063vw;
    height: 14.063vw;
  }
  .mint .nft-container .change .circle {
    width: 9.505vw;
    height: 9.505vw;
    box-shadow: 0vw 0vw 3.255vw 0vw rgba(234, 95, 27, 0.5) inset;
  }
  .mint .nft-container .change .circle .time {
    font-size: 2.604vw;
  }
  .mint .nft-container .change .circle svg {
    width: 4.297vw;
  }
  .mint .nft-container .mint-nft {
    padding: 1.042vw 6.771vw;
    border-radius: 0.521vw;
    font-size: 1.953vw;
    line-height: 100%;
    max-height: 4.1vw;
    max-height: 6.25vw;
    margin: -5.859vw 0 0 0;
    width: 52.474vw;
    transform: translateX(-1.432vw);
  }
}
@media only screen and (max-width: 860px) and (min-aspect-ratio: 768/900) {
  .mint {
    height: 1024px !important;
  }
}
@media only screen and (max-width: 860px) {
  .welcome {
    height: 100vh;
    height: var(--app-height);
  }
  .welcome .welcome-title {
    margin: 14.323vw 0 0 3.906vw;
    font-size: 7.552vw;
    line-height: 100%;
    font-size: 10.156vw;
  }
  .welcome .subtitle-container {
    margin: 3.906vw 0 0 25.911vw;
    gap: 42.188vw;
  }
  .welcome .subtitle-container .subtitle {
    font-size: 4.948vw;
    transform: translateX(-30%);
  }
  .welcome .subtitle-container .member-container {
    margin: 0 0 0 41.146vw;
  }
  .welcome .subtitle-container .member-container .member-title {
    font-size: 2.865vw;
  }
  .welcome .subtitle-container .member-container .status {
    margin: 0.521vw 0 0 0;
    font-size: 2.083vw;
  }
  .welcome .subtitle-container .member-container .date {
    margin: 1.823vw 0 0 0;
    font-size: 2.083vw;
  }
  .welcome .nft-container {
    right: 39.323vw;
    bottom: 19.661vw;
    width: 37.63vw;
    height: 50.13vw;
  }
  .welcome .webcome-bg {
    right: 14.323vw;
    bottom: 0;
    width: 85.677vw;
  }
  .welcome .sparks {
    right: 11.589vw;
    bottom: 18.88vw;
    width: 91.146vw;
  }
}
@media only screen and (max-width: 860px) {
  .payment .payment-title {
    margin: 14.323vw 0 0 3.906vw;
    font-size: 7.552vw;
    line-height: 100%;
  }
  .payment .preview-member {
    top: 27.083vw;
    left: 3.906vw;
    gap: 2.865vw;
  }
  .payment .preview-member .img-container {
    width: 10.156vw;
    height: 12.24vw;
  }
  .payment .preview-member .right-block .prewiew-title {
    font-size: 2.865vw;
  }
  .payment .preview-member .right-block .prewiew-subtitle {
    margin: 0.521vw 0 0 0;
    font-size: 2.083vw;
  }
  .payment .preview-member .right-block .cancel {
    margin: 1.823vw 0 0 0;
    gap: 1.042vw;
    font-size: 2.083vw;
    line-height: 2.344vw;
  }
  .payment .preview-member .right-block .cancel svg {
    width: 2.214vw;
  }
  .payment .preview-member .right-block .cancel span::after {
    height: 1px;
  }
  .payment .preview-member .right-block .cancel svg {
    width: 2.214vw;
  }
  .payment .reserved {
    top: 27.083vw;
    right: 3.906vw;
    gap: 0.521vw;
  }
  .payment .reserved .reserved-title {
    font-size: 2.083vw;
    margin: 0 2.083vw 0 0;
  }
  .payment .reserved .minutes,
  .payment .reserved .seconds {
    width: 5.208vw;
    height: 5.208vw;
    border-radius: 0.781vw;
    border: 1px solid #323232;
    font-size: 2.344vw;
  }
  .payment .reserved .colon {
    font-size: 1.823vw;
  }
  .payment .circl-number {
    width: 6.51vw;
    height: 6.51vw;
    margin: 22.135vw 0 0 3.906vw;
  }
  .payment .circl-number span {
    font-size: 2.604vw;
  }
  .payment .payment-metod {
    margin: 0 0 0 16.927vw;
  }
  .payment .payment-metod .subtitle {
    font-size: 4.948vw;
  }
  .payment .payment-metod .accordion-container {
    margin: 3.125vw 0 0 0;
    gap: 2.604vw;
  }
  .payment .payment-metod .accordion-container .connected-wallet.open {
    height: 50.391vw;
  }
  .payment .payment-metod .accordion-container .external-wallet.open {
    height: 77.344vw;
  }
  .payment .payment-metod .accordion-container .connected-wallet,
  .payment .payment-metod .accordion-container .external-wallet {
    width: 79.167vw;
    height: 12.24vw;
    border-radius: 0.781vw;
  }
  .payment .payment-metod .accordion-container .connected-wallet .connected-container,
  .payment .payment-metod .accordion-container .connected-wallet .external-container,
  .payment .payment-metod .accordion-container .external-wallet .connected-container,
  .payment .payment-metod .accordion-container .external-wallet .external-container {
    padding: 0 2.604vw 2.604vw 0;
  }
  .payment .payment-metod .accordion-container .connected-wallet .connected-container .top-block,
  .payment .payment-metod .accordion-container .connected-wallet .external-container .top-block,
  .payment .payment-metod .accordion-container .external-wallet .connected-container .top-block,
  .payment .payment-metod .accordion-container .external-wallet .external-container .top-block {
    padding: 2.604vw;
  }
  .payment .payment-metod .accordion-container .connected-wallet .connected-container .top-block .accordion-title,
  .payment .payment-metod .accordion-container .connected-wallet .external-container .top-block .accordion-title,
  .payment .payment-metod .accordion-container .external-wallet .connected-container .top-block .accordion-title,
  .payment .payment-metod .accordion-container .external-wallet .external-container .top-block .accordion-title {
    font-size: 2.865vw;
  }
  .payment .payment-metod .accordion-container .connected-wallet .connected-container .top-block .accordion-img,
  .payment .payment-metod .accordion-container .connected-wallet .external-container .top-block .accordion-img,
  .payment .payment-metod .accordion-container .external-wallet .connected-container .top-block .accordion-img,
  .payment .payment-metod .accordion-container .external-wallet .external-container .top-block .accordion-img {
    width: 10.677vw;
    top: 0.781vw;
    right: 1.302vw;
  }
  .payment .payment-metod .accordion-container .connected-wallet .connected-container .top-block .accordion-arrow,
  .payment .payment-metod .accordion-container .connected-wallet .external-container .top-block .accordion-arrow,
  .payment .payment-metod .accordion-container .external-wallet .connected-container .top-block .accordion-arrow,
  .payment .payment-metod .accordion-container .external-wallet .external-container .top-block .accordion-arrow {
    width: 1.823vw;
    margin: 2.604vw 0 0 0;
  }
  .payment .payment-metod .accordion-container .connected-wallet .connected-container .top-block .qr-code,
  .payment .payment-metod .accordion-container .connected-wallet .external-container .top-block .qr-code,
  .payment .payment-metod .accordion-container .external-wallet .connected-container .top-block .qr-code,
  .payment .payment-metod .accordion-container .external-wallet .external-container .top-block .qr-code {
    margin: 4.427vw 0 0 0;
    gap: 10.677vw;
  }
  .payment .payment-metod .accordion-container .connected-wallet .connected-container .top-block .qr-code .qr-container,
  .payment .payment-metod .accordion-container .connected-wallet .external-container .top-block .qr-code .qr-container,
  .payment .payment-metod .accordion-container .external-wallet .connected-container .top-block .qr-code .qr-container,
  .payment .payment-metod .accordion-container .external-wallet .external-container .top-block .qr-code .qr-container {
    width: 14.323vw;
    height: 14.323vw;
    padding: 4px;
    border-radius: 6px;
  }
  .payment .payment-metod .accordion-container .connected-wallet .connected-container .top-block .qr-code .qr-container .img-qr,
  .payment .payment-metod .accordion-container .connected-wallet .external-container .top-block .qr-code .qr-container .img-qr,
  .payment .payment-metod .accordion-container .external-wallet .connected-container .top-block .qr-code .qr-container .img-qr,
  .payment .payment-metod .accordion-container .external-wallet .external-container .top-block .qr-code .qr-container .img-qr {
    width: 100%;
    height: 100%;
  }
  .payment .payment-metod .accordion-container .connected-wallet .connected-container .top-block .qr-code .accordion-name,
  .payment .payment-metod .accordion-container .connected-wallet .external-container .top-block .qr-code .accordion-name,
  .payment .payment-metod .accordion-container .external-wallet .connected-container .top-block .qr-code .accordion-name,
  .payment .payment-metod .accordion-container .external-wallet .external-container .top-block .qr-code .accordion-name {
    font-size: 2.083vw;
  }
  .payment .payment-metod .accordion-container .connected-wallet .connected-container .top-block .recipient-address,
  .payment .payment-metod .accordion-container .connected-wallet .external-container .top-block .recipient-address,
  .payment .payment-metod .accordion-container .external-wallet .connected-container .top-block .recipient-address,
  .payment .payment-metod .accordion-container .external-wallet .external-container .top-block .recipient-address {
    margin: 3.125vw 0 0 0;
    gap: 3.125vw;
  }
  .payment .payment-metod .accordion-container .connected-wallet .connected-container .top-block .recipient-address .accordion-name,
  .payment .payment-metod .accordion-container .connected-wallet .external-container .top-block .recipient-address .accordion-name,
  .payment .payment-metod .accordion-container .external-wallet .connected-container .top-block .recipient-address .accordion-name,
  .payment .payment-metod .accordion-container .external-wallet .external-container .top-block .recipient-address .accordion-name {
    font-size: 2.083vw;
  }
  .payment .payment-metod .accordion-container .connected-wallet .connected-container .top-block .recipient-address .adress,
  .payment .payment-metod .accordion-container .connected-wallet .external-container .top-block .recipient-address .adress,
  .payment .payment-metod .accordion-container .external-wallet .connected-container .top-block .recipient-address .adress,
  .payment .payment-metod .accordion-container .external-wallet .external-container .top-block .recipient-address .adress {
    gap: 1.042vw;
    padding: 0.651vw 1.172vw;
    border-radius: 0.781vw;
    border: 1px solid rgba(234, 95, 27, 0.25);
    font-size: 2.083vw;
  }
  .payment .payment-metod .accordion-container .connected-wallet .connected-container .top-block .recipient-address .adress .copy,
  .payment .payment-metod .accordion-container .connected-wallet .external-container .top-block .recipient-address .adress .copy,
  .payment .payment-metod .accordion-container .external-wallet .connected-container .top-block .recipient-address .adress .copy,
  .payment .payment-metod .accordion-container .external-wallet .external-container .top-block .recipient-address .adress .copy {
    width: 2.344vw;
  }
  .payment .payment-metod .accordion-container .connected-wallet .connected-container .top-block .mint-price,
  .payment .payment-metod .accordion-container .connected-wallet .external-container .top-block .mint-price,
  .payment .payment-metod .accordion-container .external-wallet .connected-container .top-block .mint-price,
  .payment .payment-metod .accordion-container .external-wallet .external-container .top-block .mint-price {
    margin: 4.427vw 0 0 0;
    gap: 8.854vw;
  }
  .payment .payment-metod .accordion-container .connected-wallet .connected-container .top-block .mint-price .accordion-name,
  .payment .payment-metod .accordion-container .connected-wallet .external-container .top-block .mint-price .accordion-name,
  .payment .payment-metod .accordion-container .external-wallet .connected-container .top-block .mint-price .accordion-name,
  .payment .payment-metod .accordion-container .external-wallet .external-container .top-block .mint-price .accordion-name {
    font-size: 2.083vw;
  }
  .payment .payment-metod .accordion-container .connected-wallet .connected-container .top-block .mint-price .accordion-meaning,
  .payment .payment-metod .accordion-container .connected-wallet .external-container .top-block .mint-price .accordion-meaning,
  .payment .payment-metod .accordion-container .external-wallet .connected-container .top-block .mint-price .accordion-meaning,
  .payment .payment-metod .accordion-container .external-wallet .external-container .top-block .mint-price .accordion-meaning {
    font-size: 2.083vw;
  }
  .payment .payment-metod .accordion-container .connected-wallet .connected-container .top-block .mint-price .accordion-meaning .accordion-sum,
  .payment .payment-metod .accordion-container .connected-wallet .external-container .top-block .mint-price .accordion-meaning .accordion-sum,
  .payment .payment-metod .accordion-container .external-wallet .connected-container .top-block .mint-price .accordion-meaning .accordion-sum,
  .payment .payment-metod .accordion-container .external-wallet .external-container .top-block .mint-price .accordion-meaning .accordion-sum {
    font-size: 2.083vw;
  }
  .payment .payment-metod .accordion-container .connected-wallet .connected-container .top-block .network-fee,
  .payment .payment-metod .accordion-container .connected-wallet .external-container .top-block .network-fee,
  .payment .payment-metod .accordion-container .external-wallet .connected-container .top-block .network-fee,
  .payment .payment-metod .accordion-container .external-wallet .external-container .top-block .network-fee {
    margin: 3.125vw 0 0 0;
    gap: 6.771vw;
  }
  .payment .payment-metod .accordion-container .connected-wallet .connected-container .top-block .network-fee .accordion-name,
  .payment .payment-metod .accordion-container .connected-wallet .external-container .top-block .network-fee .accordion-name,
  .payment .payment-metod .accordion-container .external-wallet .connected-container .top-block .network-fee .accordion-name,
  .payment .payment-metod .accordion-container .external-wallet .external-container .top-block .network-fee .accordion-name {
    font-size: 2.083vw;
  }
  .payment .payment-metod .accordion-container .connected-wallet .connected-container .top-block .network-fee .accordion-meaning,
  .payment .payment-metod .accordion-container .connected-wallet .external-container .top-block .network-fee .accordion-meaning,
  .payment .payment-metod .accordion-container .external-wallet .connected-container .top-block .network-fee .accordion-meaning,
  .payment .payment-metod .accordion-container .external-wallet .external-container .top-block .network-fee .accordion-meaning {
    font-size: 2.083vw;
  }
  .payment .payment-metod .accordion-container .connected-wallet .connected-container .top-block .network-fee .accordion-meaning .accordion-sum,
  .payment .payment-metod .accordion-container .connected-wallet .external-container .top-block .network-fee .accordion-meaning .accordion-sum,
  .payment .payment-metod .accordion-container .external-wallet .connected-container .top-block .network-fee .accordion-meaning .accordion-sum,
  .payment .payment-metod .accordion-container .external-wallet .external-container .top-block .network-fee .accordion-meaning .accordion-sum {
    font-size: 2.083vw;
  }
  .payment .payment-metod .accordion-container .connected-wallet .connected-container .total-amount,
  .payment .payment-metod .accordion-container .connected-wallet .external-container .total-amount,
  .payment .payment-metod .accordion-container .external-wallet .connected-container .total-amount,
  .payment .payment-metod .accordion-container .external-wallet .external-container .total-amount {
    gap: 0.781vw;
    padding: 2.604vw 2.604vw 2.083vw 2.604vw;
    border-radius: 0px 0.781vw 0.781vw 0px;
    border-top: 1px solid #141313;
    border-right: 1px solid #141313;
    border-bottom: 1px solid #141313;
  }
  .payment .payment-metod .accordion-container .connected-wallet .connected-container .total-amount .accordion-name,
  .payment .payment-metod .accordion-container .connected-wallet .external-container .total-amount .accordion-name,
  .payment .payment-metod .accordion-container .external-wallet .connected-container .total-amount .accordion-name,
  .payment .payment-metod .accordion-container .external-wallet .external-container .total-amount .accordion-name {
    font-size: 2.083vw;
  }
  .payment .payment-metod .accordion-container .connected-wallet .connected-container .total-amount .accordion-quantity,
  .payment .payment-metod .accordion-container .connected-wallet .external-container .total-amount .accordion-quantity,
  .payment .payment-metod .accordion-container .external-wallet .connected-container .total-amount .accordion-quantity,
  .payment .payment-metod .accordion-container .external-wallet .external-container .total-amount .accordion-quantity {
    font-size: 4.688vw;
  }
  .payment .payment-metod .accordion-container .connected-wallet .connected-container .total-amount .accordion-quantity .currency,
  .payment .payment-metod .accordion-container .connected-wallet .external-container .total-amount .accordion-quantity .currency,
  .payment .payment-metod .accordion-container .external-wallet .connected-container .total-amount .accordion-quantity .currency,
  .payment .payment-metod .accordion-container .external-wallet .external-container .total-amount .accordion-quantity .currency {
    font-size: 2.865vw;
  }
  .payment .payment-metod .accordion-container .connected-wallet .connected-container .total-amount .accordion-sum,
  .payment .payment-metod .accordion-container .connected-wallet .external-container .total-amount .accordion-sum,
  .payment .payment-metod .accordion-container .external-wallet .connected-container .total-amount .accordion-sum,
  .payment .payment-metod .accordion-container .external-wallet .external-container .total-amount .accordion-sum {
    right: 2.604vw;
    bottom: 2.865vw;
    font-size: 2.083vw;
  }
  .payment .payment-metod .accordion-container .connected-wallet .connected-container .accordion-button,
  .payment .payment-metod .accordion-container .connected-wallet .external-container .accordion-button,
  .payment .payment-metod .accordion-container .external-wallet .connected-container .accordion-button,
  .payment .payment-metod .accordion-container .external-wallet .external-container .accordion-button {
    margin: 3.906vw 0 0 2.604vw;
    min-width: 24.609vw;
    padding: 1.042vw 6.771vw;
    border-radius: 0.521vw;
    font-size: 1.953vw;
    line-height: 100%;
    max-height: 4.1vw;
  }
  .payment .payment-metod .accordion-container .connected-wallet .connected-container .bottom-container,
  .payment .payment-metod .accordion-container .connected-wallet .external-container .bottom-container,
  .payment .payment-metod .accordion-container .external-wallet .connected-container .bottom-container,
  .payment .payment-metod .accordion-container .external-wallet .external-container .bottom-container {
    gap: 3.646vw;
  }
  .payment .payment-metod .accordion-container .connected-wallet .connected-container .bottom-container .instruction,
  .payment .payment-metod .accordion-container .connected-wallet .external-container .bottom-container .instruction,
  .payment .payment-metod .accordion-container .external-wallet .connected-container .bottom-container .instruction,
  .payment .payment-metod .accordion-container .external-wallet .external-container .bottom-container .instruction {
    margin: 3.516vw 0 0 0;
    font-size: 1.823vw;
    line-height: 2.604vw;
  }
}/*# sourceMappingURL=tabletvertikal.css.map */