@media only screen and (max-width: 1280px) and (max-aspect-ratio: 1024 / 695) {
  @mixin h2 {
    font-size: 12.109vw;
    line-height: 100%;
  }
  @mixin h3 {
    font-size: 5.664vw;
    line-height: 100%;
  }
  @mixin h4 {
    font-size: 4.688vw;
    line-height: 100%;
  }
  @mixin text {
    font-size: 1.953vw;
    line-height: 2.734vw;
  }
  @mixin text-mini {
    font-size: 2.148vw;
    line-height: 100%;
    padding: 0.293vw 0 0 0;
    border-top: 0.195vw solid #ea5f1b;
    border-bottom: 0.195vw solid #ea5f1b;
  }
  @mixin social {
    width: 3.32vw;
    height: 3.32vw;
  }
  @mixin button {
    padding: 0.781vw 5.078vw;
    border-radius: 0.391vw;
    font-size: 1.465vw;
    line-height: 100%;
    max-height: 3.1vw;
  }

  .preloader {
    .logo {
      width: 8.398vw;
      top: 2.93vw;
      left: 2.93vw;
    }
    .number-container {
      bottom: 2.93vw;
      left: 2.93vw;
      gap: 1.465vw;
      .number {
        font-size: 7.617vw;
      }
      .loading {
        padding: 0 0 7.5% 0;
        font-size: 1.953vw;
        line-height: 2.734vw;
      }
    }
  }

  ._container {
    width: 100%;
    margin: 0;
    padding: 0 2.93vw;
  }
  .burger-menu {
    box-sizing: border-box;
    position: fixed;
    right: 2.93vw;
    top: 2.93vw;
    z-index: 20;
    padding: 0.977vw 0.684vw;
    display: flex;
    flex-direction: column;
    gap: 0.391vw;
    border-radius: 0.391vw;
    border: none;
    outline: 0;
    background: #fff;
    span {
      width: 1.953vw;
      height: 0.195vw;
      background: Black;
    }
  }
  .close {
    box-sizing: border-box;
    padding: 0;
    width: 3.32vw;
    height: 3.32vw;
    border: none;
    background: none;
    outline: 0;
    margin: 0 0 1.953vw auto;
    background: none;
    position: relative;
    display: block;
    z-index: 25;
    transform: translateX(0.684vw);
    span {
      position: absolute;
      width: 1.953vw;
      height: 0.195vw;
      background: #fff;
      top: 50%;
      left: 50%;
      &:last-child {
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &:first-child {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }
  .blur {
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    height: var(--app-height);
    position: fixed;
    background: rgba(20, 19, 19, 0.7);
    z-index: -1;
    backdrop-filter: blur(0.391vw);
    transition: 0.25s ease-out opacity, 0.25s ease-out height;
    opacity: 0;
    &.active {
      opacity: 1;
    }
  }
  .header-logo {
    top: 2.93vw;
    left: 2.93vw;
    a {
      .logo {
        width: 8.398vw;
      }
    }
  }
  .header {
    padding: 0vw;
    top: 0;
    right: 0vw;
    width: auto;
    height: 100vh;
    height: var(--app-height);
    display: flex;
    justify-content: flex-end;
    transition: 0.25s ease-out transform, 0.25s ease-out height;
    transform: translateX(100%);
    &.active {
      transform: translateX(0);
      z-index: 20;
    }
    .header_container {
      padding: 2.93vw;
      background-color: #141313;
      .navigation-container {
        gap: 4.883vw;
        .connect-wallet {
          @include button();
        }
        .navigation {
          font-size: 1.465vw;
          line-height: 100%;
          gap: 2.441vw;
          padding: 0;
          li {
            .navigation-item {
              &.active {
                &::after {
                  width: 1.855vw;
                  height: 0.195vw;
                }
              }
            }
          }
        }
      }
    }
  }
  .main {
    .main_container {
      padding: 0 2.93vw;
      .main-wrapper {
        width: 80.078vw;
        transform: translateY(-40%);
        .social {
          margin: 3.906vw 0 0 0;
          gap: 1.172vw;
          a {
            svg {
              width: 1.758vw;
            }
            @include social();
          }
        }
        .main-title {
          margin: 2.93vw 0 0 0;
          font-size: 15.82vw;
          line-height: 100%;
        }
        .title-line {
          margin: 0 0 0 21.094vw;
          width: 39.453vw;
        }
        .main-subtitle {
          width: 80.078vw;
          margin: 1.953vw 0 0 auto;
          p {
            &:first-child {
              text-align: start;
            }
            @include text();
          }
          &::before {
            width: 1.172vw;
            height: 1.172vw;
            left: 0;
            top: -1.953vw;
          }
        }
      }
    }
  }
  .manifesto {
    position: relative;
    width: 100%;
    height: auto;
    overflow-y: visible;
    z-index: 6;
    .bg-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1150vh;
      z-index: 3;
      .bg-container2 {
        position: sticky;
        width: 100%;
        height: 100vh;
        height: var(--app-height);
        transition: 0.25s ease-out height;
        top: 0;
        left: 0;
        .manifesto-bg {
          width: 100%;
          object-fit: cover;
          object-position: bottom;
          transition: 0.25s ease-out filter, 0.25s ease-out opacity;
          &.opacity {
            opacity: 0;
          }
        }
      }
    }
    .manifesto-title {
      position: relative;
      @include h2();
    }
    .manifesto-text {
      h3 {
        width: 62.109vw;
        margin: 0 auto;
        @include h3();
      }
      span {
        margin: 0 0 0 18.945vw;
        @include text-mini();
      }
      p {
        margin: 2.93vw auto 0 auto;
        @include text();
      }
    }
    .text1 {
      padding: 0;
      p {
        width: 62.109vw;
      }
    }
    .text2 {
      padding: 0;
      p {
        width: 62.109vw;
      }
    }
    .text3 {
      padding: 0;
      p {
        width: 62.109vw;
      }
    }
  }
  .roadmap {
    margin: 0vh 0 0 0;
    gap: 12.402vw;
    padding: 0 0 0 2.93vw;
    .sparks-container {
      left: 2.93vw;
      background: #141313;
      opacity: 0;
      z-index: -1;
      .sparks {
        width: 81.055vw;
      }
    }
    .left-block {
      padding: 7.813vw 0 0 0;
      height: calc(100vh - 7.813vw);
      height: calc(var(--app-height) - 7.813vw);
      transition: 0.25s ease-out height;
      gap: 3.906vw;
      .roadmap-title {
        @include h2();
      }
      .social {
        gap: 1.172vw;
        a {
          svg {
            width: 1.758vw;
            height: auto;
            path {
              transition: 0.25s ease-out fill;
            }
          }
          @include social();
        }
      }

      .footer-text {
        gap: 21px;
        .reserved {
          font-size: 1.563vw;
          line-height: 2.441vw;
        }
        .powered {
          margin: 0 0 4.883vw 0;
          gap: 0.586vw;
          font-size: 1.563vw;
          a {
            svg {
              width: 10.547vw;
            }
          }
        }
      }
    }
    .roadmap_item-container {
      gap: 2.93vw;
      padding: 7.813vw 0 4.883vw 0;
      .roadmap_item {
        width: 46.094vw;
        height: 26.953vw;
        padding: 1.465vw;
        .circle {
          height: 3.906vw;
          width: 3.906vw;
          svg {
            width: 1.465vw;
          }
        }
        .status {
          padding: 0 0.391vw;
          min-width: 5.859vw;
          display: flex;
          justify-content: center;
          span {
            font-size: 1.367vw;
            line-height: 1.953vw;
            svg {
              width: 1.953vw;
            }
          }
        }
        .date {
          margin: 1.953vw 0 0 0;
          font-size: 1.563vw;
          line-height: 2.344vw;
          padding: 0 0.586vw;
          border: 1px solid #ffffff;
        }
        .item-title {
          margin: 0.977vw 0 0 0;
          @include h4();
        }
        &.blocked {
          .status {
            justify-content: flex-end;
          }
        }
      }
    }
  }
}
